
/* Default styles pentru elemente*/
body{

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 14pt;
}

img{
    display: block;
}
svg{
    display: block;
}

/*  Style pentru logo de login si register.
Note: Difera dimensiunile putin intre ele
*/
.logo-login{

    width: 10em;
    height: auto;
    
}
.logo-register{

    width: 7em;
    height: auto;
    
}


/*  Style pentru formurile ce au legatura cu procesul
de autentificare
*/
.auth-form{

    display: block;
}
.auth-form input{

    display: block;
    border-style: none;
    margin: 15px;
    padding-left: 10px;
    width: 25em;
    height: 3em;
}
.auth-form input[type="text"]
{
    background: #C8C1C1;
    color:#333;
}
.auth-form input[type="submit"]
{
    margin-top:2em;
    width: 15em;
}

/*  Un style general pentru toate butoanele importante*/
.btn{

    background: #2690d4;
    color: azure;
}
.btn:hover{

    background: #90c5e6;
}


/*  Style pentru linkuri ce nu au importanta primara
*/
.secondary-links{
    
    display: inline-block;
    text-decoration: none;
    color: #999;
}
.secondary-links:hover{
    
    color:aliceblue;
}

/*Inca neimplementat*/
.nav-bar{

    background: #666;
}

/*Style pentru subtitlurile sectiunilor*/
.section-title{

    font-size: 1.25em;
    width: 50%;
}

/*  Style pentru lista de prieteni si statutul de online sau ofline
    Note: trebuie implementata o metoda de vizualizare a statusului
*/
.status-list{

    background: #444;
    width: 60%;
    padding-left: 15px;
    list-style-position: inside;
    
}
.status-list li{

    margin: 20px 0;
    padding: 10px 0;
}
.status-list li:hover{

    color:  #90c5e6;
}


/*  Style pentru istoricul de sesiuni*/
.history-list{

    background: #666;
    width: 70%;
    list-style: none;
    padding: 0;
}
.history-list li{

    padding: 15px 0;
    border-style: solid;
    border-color: #333;
    border-width: 1px;
    width: 100%;
    text-align: center;
    
}
.history-list li:hover{

    background: #90c5e6;
}

/* Style buton de add*/
.add-button{
    
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border-style: none;
    background: #2690d4;
}
/* Implementarea animatiei de transformare in x a plusului
    Aste e doar demonstrativa pentru moment
    Vom recurge la alta metoda cand introducem javascript*/
.add-button:hover{

    background: #90c5e6;
    transform: rotate(45deg);
}
/* Style pentru imaginea de plus*/
.add-img{

    width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 0;
}

/*Style pentru adaugarea unei sesiuni de joc*/
